$color_1: #475569;
$color_2: #482ff7;
$font-family_1: "Roboto", sans-serif;
$background-color_1: #101010;
$background-color_2: #fff;

@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: $font-family_1;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.header {
	border-bottom: 1px solid #e2e8f0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .1rem 1.5rem;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: $background-color_1;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9;
}

.nav-item {
	margin-left: 5rem;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 400;
	color: $color_1;

	&:hover {
		color: $color_2;
	}
}

.nav-logo img {
	width: 60%;
}

@media only screen and (max-width: 900px) {
	.nav-menu {
		display: block;
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: $background-color_2;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}

	.nav-menu.active {
		left: 0%;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active {
		.bar {
			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(1) {
				transform: translateY(8px) rotate(45deg);
			}

			&:nth-child(3) {
				transform: translateY(-8px) rotate(-45deg);
			}
		}
	}
}


.carousel {
	margin-top: 100px;

	.slider {
		margin: 0 auto;
		width: 80%;
	}

	.slide_viewer {
		height: 340px;
		overflow: hidden;
		position: relative;
	}

	.slide_group {
		height: 100%;
		position: relative;
		width: 100%;
	}

	.slide {
		display: none;
		height: 100%;
		position: absolute;
		width: 100%;

		&:first-child {
			display: block;
		}

		&:nth-of-type(1) {
			background: red;
		}

		&:nth-of-type(2) {
			background: yellow;
		}

		&:nth-of-type(3) {
			background: green;
		}

		&:nth-of-type(4) {
			background: cadetblue;
		}
	}

	.slide_buttons {
		left: 0;
		position: absolute;
		right: 0;
		text-align: center;
	}

	a.slide_btn {
		color: grey;
		font-size: 42px;
		margin: 0 0.175em;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}

	.slide_btn.active {
		color: black;
		cursor: pointer;
	}

	.slide_btn {
		&:hover {
			color: $color_2;
			cursor: pointer;
		}
	}

	.directional_nav {
		font-size: 32px;
		height: 340px;
		margin: 0 auto;
		position: relative;
		top: -340px;
	}

	.previous_btn {
		bottom: 0;
		left: 100px;
		margin: auto;
		position: absolute;
		top: 0;
		cursor: pointer;
		height: 50px;
		opacity: 0.5;
		-webkit-transition: opacity 0.4s ease-in-out;
		-moz-transition: opacity 0.4s ease-in-out;
		-ms-transition: opacity 0.4s ease-in-out;
		-o-transition: opacity 0.4s ease-in-out;
		transition: opacity 0.4s ease-in-out;

		&:hover {
			opacity: 1;
		}
	}

	.next_btn {
		bottom: 0;
		margin: auto;
		position: absolute;
		right: 100px;
		top: 0;
		cursor: pointer;
		height: 50px;
		opacity: 0.5;
		-webkit-transition: opacity 0.4s ease-in-out;
		-moz-transition: opacity 0.4s ease-in-out;
		-ms-transition: opacity 0.4s ease-in-out;
		-o-transition: opacity 0.4s ease-in-out;
		transition: opacity 0.4s ease-in-out;

		&:hover {
			opacity: 1;
		}

	}

}

@media only screen and (max-width: 767px) {
	.previous_btn {
		left: 50px;
	}

	.next_btn {
		right: 50px;
	}

	.nav-menu {
		border-bottom: 1px solid #000;
		border-top: 1px solid #000;
	}
}